<footer
	class="page-footer font-small pt-4 mt-3"
	style="background-color: #d3d3d3; color: black"
>
	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
		<!-- Grid row -->
		<div class="row">
			<!-- Grid column -->
			<div class="col-md-2 mt-md-0 mt-3">
				<!-- Content -->
				<h2 class="text-uppercase" style="font-weight: bold">
					ADNews - Tin Tức New
				</h2>
				<img src="assets\images\logo.png" width="200px" />
			</div>

			<hr class="clearfix w-100 d-md-none pb-3" />

			<div class="col-md-5 mb-md-0 mb-3">
				<ul class="list-unstyled">
					<li>
						<b>Cơ quan chủ quản: Bộ AnDT và DuyBV</b>
					</li>
					<li>Số giấy phép: 14/WB - BTTTT,cấp ngày 14/06/2000</li>
					<li>
						<b
							>Tổng biên tập: <a style="color: #971928">Duy và An</a>
						</b>
					</li>
					<li>Tòa soạn: Tòa nhà Landmark81 - Bình Thạnh, Tp.HCM</li>
					<li>© <b>2000 Duy và An. All right reserved.</b></li>
					<li>
						<a style="font-style: italic"
							>Chỉ được phát hành lại thông tin từ website này khi có sự
							đồng ý bằng văn bản của báo ADNews.</a
						>
					</li>
				</ul>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-5 mb-md-0 mb-3">
				<h2 class="text-uppercase">LIÊN HỆ QUẢNG CÁO</h2>
				<ul class="list-unstyled">
					<li>
						<b>Hà Nội. Hotline:</b> 0347 490 257 |
						<b>Email:</b> buivietduy1406@gmail.com
					</li>
					<li>
						<b>Tp.HCM. Hotline:</b> 0699 793 696 |
						<b>Email: </b> andt@gmail.com
					</li>
					<li>
						Xem thông tin chi tiết:
						<a
							href="https://www.facebook.com/groups/794344891957072"
							target="_blank"
							style="color: blue"
							>Facebook Group</a
						>
					</li>
					<li>
						<b>Hỗ trợ kỹ thuật: </b>
						<a
							href="https://www.facebook.com/ntbaovn"
							target="_blank"
							style="color: blue"
							>Mr.Bao</a
						>
					</li>
					<li style="color: gray">
						<b
							>THEO DÕI ANNEWS TẠI:
							<a
								href="https://www.facebook.com/groups/794344891957072"
								target="_blank"
								style="color: blue"
								><img
									src="assets\images\facebook.png"
									width="50px" /></a
						></b>
						<a
							href="https://www.youtube.com"
							target="_blank"
							style="color: blue"
							><img src="assets\images\youtube.png" width="50px"
						/></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
