<app-header-admin></app-header-admin>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">

      <ul class="list-unstyled components">
      <li>
      <a href="#homeSubmenu" aria-expanded="false">
      <i class="fa fa-home"></i>
      Home
      </a>
      </li>
      <li class="active">
      <a routerLink="/admin" aria-expanded="false" class="active">
      <i class="fa fa-file"></i>
      Quản lý bài viết
      </a>
      </li>
      <li>
        <a routerLink="/admin-category" aria-expanded="false">
        <i class="fa fa-layer-group"></i>
        Quản lý danh mục
        </a>
        </li>
      <li>
        <a href="#userSubmenu"aria-expanded="false">
        <i class="fa fa-user"></i>
        Quản lý User
        </a>
        <ul class="collapse list-unstyled" id="userSubmenu">
        <li><a href="#">Tất cả User</a></li>
        <li><a href="#">Theo Role</a></li>
        </ul>
        </li>
      </ul>
      </nav>
    
    <!-- Page Content Holder -->
    <div id="content" style="width:100%">
        <nav class="navbar navbar-default">
          <div class="row">
            <div class="col-md-12 mx-my-0 ml-auto">
                <b style="font-size: 20px;">Quản lý bài viết </b>
            </div>
          </div>
          <div class="pull-left">
            <button class="btn btn-white btn-info btn-bold" data-toggle="tooltip" title="Thêm bài viết" (click)="add(newtitle.value,newcontent.value,newshortDescription.value,newcategoryCode.value,newthumbnail.value)">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button class="btn btn-white btn-warning btn-bold" data-toggle="tooltip" title="Xóa bài viết" (click)="goBack()">
              <i class="fa fa-undo" aria-hidden="true"></i>
            </button>
          </div>
        </nav>
        <table style="width: 100%;">
          <tr>
            <td class="edittitle">Tên bài viết</td>
            <td><input #newtitle placeholder="title" class="editcont" ></td>
          </tr>
          <tr>
            <td class="edittitle">Tóm tắt</td>
            <td><input #newshortDescription placeholder="Tóm tắt" class="editcont"></td>
          </tr>
          <tr>
            <td class="edittitle">Nội dung</td>
            <td>
              <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput #newcontent></textarea>
              <label for="form7"></label>
            </td>
          </tr>
          <!--  -->
          <tr>
            <td class="edittitle">thumbnail</td>
            <td><input #newthumbnail placeholder="thumbnail" class="editcont"></td>
          </tr>
          <tr>
            <td class="edittitle">Code thể loại</td>
            <td><input #newcategoryCode placeholder="Code thể loại" class="editcont"></td>
          </tr>
        </table>
      </div>
    </div>
