<app-header-admin></app-header-admin>
<div *ngIf="category">
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">

      <ul class="list-unstyled components">
      <li>
      <a href="#homeSubmenu" aria-expanded="false">
      <i class="fa fa-home"></i>
      Home
      </a>
      </li>
      <li>
      <a routerLink="/admin" aria-expanded="false" class="active">
      <i class="fa fa-file"></i>
      Quản lý bài viết
      </a>
      </li>
      <li class="active">
        <a routerLink="/admin-category" aria-expanded="false">
        <i class="fa fa-layer-group"></i>
        Quản lý danh mục
        </a>
        </li>
      <li>
        <a href="#userSubmenu"aria-expanded="false">
        <i class="fa fa-user"></i>
        Quản lý User
        </a>
        <ul class="collapse list-unstyled" id="userSubmenu">
        <li><a href="#">Tất cả User</a></li>
        <li><a href="#">Theo Role</a></li>
        </ul>
        </li>
      </ul>
      </nav>
    
    <!-- Page Content Holder -->
    <div id="content" style="width:100%">
        <nav class="navbar navbar-default">
          <div class="row">
            <div class="col-md-12 mx-my-0 ml-auto">
                <b style="font-size: 20px;">Quản lý bài viết </b>
            </div>
          </div>
          <div class="pull-left">
            <button class="btn btn-white btn-info btn-bold" data-toggle="tooltip" title="Lưu thể loại" (click)="save()">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button class="btn btn-white btn-warning btn-bold" data-toggle="tooltip" title="Trở về" (click)="goBack()">
              <i class="fa fa-undo" aria-hidden="true"></i>
            </button>
          </div>
        </nav>
        <table style="width: 100%;">
          <tr>
            <td class="edittitle">Tên thể loại</td>
            <td><input [(ngModel)]="category.name" placeholder="title" class="editcont" ></td>
          </tr>
          <tr>
            <td class="edittitle">Code thể loại</td>
            <td><input [(ngModel)]="category.code" placeholder="Tóm tắt" class="editcont"></td>
          </tr>
        </table>
      </div>
    </div>
</div>