<app-header></app-header>
<div *ngFor="let item of newsindetail"></div>
<div *ngIf="new">
	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-md-8 mx-my-0 mt-3 pl-5">
				<b class="title">{{ new.title }}</b>
				<div class="time">
					{{ new.createdDate | date: 'dd/MM/yyyy - hh:mmaaa' }} -
					{{ new.author }}
				</div>
				<div style="font-weight: 500">{{ new.shortDescription }}</div>
				<ul class="link" *ngFor="let item of newsindetail">
					<li class="link-name">
						<a (click)="redirect(item.id)">{{ item.title }}</a>
					</li>
					<!-- <li class="link-name">
                        <a>Cựu Tổng GĐ gang thép Thái Nguyên lĩnh án cao nhất 9 năm 6 tháng tù</a>
                    </li>
                    <li class="link-name">
                        <a>Thất thoát hơn 830 tỷ đồng, TISCO không cần bồi thường?</a>
                    </li> -->
				</ul>
				<div *ngIf="new.thumbnail">
					<img [src]="new.thumbnail" style="max-width: 70%" />
				</div>
				<div class="content">
					<p [innerHTML]="new.content | replaceLineBreak"></p>
				</div>
			</div>
			<div class="col-md-4 mx-my-0 mt-3">
				<ul class="sidenews">
					<li class="sidecategory">
						<a (click)="redirectCate(numberid)">{{
							randomCate1!.name
						}}</a>
					</li>
					<li>
						<ul class="contlistnews">
							<div class="lilistnews row">
								<div
									*ngFor="
										let item of newssidelist1 | slice: 0:3;
										let i = index
									"
								>
									<div class="lilistnews row">
										<div
											class="col-4 mx-my-0 mt-3"
											*ngIf="item.thumbnail"
										>
											<a (click)="redirect(item.id)"
												><img
													[src]="item.thumbnail"
													height="100%"
													width="100%"
													style="
														max-height: 100px;
														min-width: 100px;
														max-width: 130px;
													"
											/></a>
										</div>
										<div class="col-6 mx-my-0 mt-3">
											<a (click)="redirect(item.id)" class="listnews">{{
												item.title
											}}</a>
										</div>
									</div>
								</div>
								<!-- <div class="col-4 mx-my-0 mt-3">
                                    <a href="#"><img src="assets\images\template1.png" height="100%"width="100%"></a> 
                                </div>
                                <div class="col-6 mx-my-0 mt-3">
                                    <a href="#" class="listnews">Tưởng niệm hơn 23 nghìn người mất vì Covid-19</a>
                                </div>                          
                            </div>
                            <div class="lilistnews row">
                                <div class="col-4 mx-my-0 mt-3">
                                    <a href="#"><img src="assets\images\template1.png" height="100%"width="100%"></a> 
                                </div>
                                <div class="col-6 mx-my-0 mt-3">
                                    <a href="#" class="listnews">Tưởng niệm hơn 23 nghìn người mất vì Covid-19</a>
                                </div>                          
                            </div>
                            <div class="lilistnews row">
                                <div class="col-4 mx-my-0 mt-3">
                                    <a href="#"><img src="assets\images\template1.png" height="100%"width="100%"></a> 
                                </div>
                                <div class="col-6 mx-my-0 mt-3">
                                    <a href="#" class="listnews">Tưởng niệm hơn 23 nghìn người mất vì Covid-19</a>
                                </div>                           -->
							</div>
						</ul>
					</li>
				</ul>
				<ul class="sidenews">
					<li class="sidecategory">
						<a (click)="redirectCate(numberid2)">{{
							randomCate2!.name
						}}</a>
					</li>
					<li>
						<ul class="contlistnews">
							<div class="lilistnews row">
								<div
									*ngFor="
										let item of newssidelist2 | slice: 0:3;
										let i = index
									"
								>
									<div class="lilistnews row">
										<div
											class="col-4 mx-my-0 mt-3"
											*ngIf="item.thumbnail"
										>
											<a (click)="redirect(item.id)"
												><img
													[src]="item.thumbnail"
													height="100%"
													width="100%"
													style="
														max-height: 100px;
														min-width: 100px;
														max-width: 130px;
													"
											/></a>
										</div>
										<div class="col-6 mx-my-0 mt-3">
											<a (click)="redirect(item.id)" class="listnews">{{
												item.title
											}}</a>
										</div>
									</div>
								</div>
								<!-- <div class="col-4 mx-my-0 mt-3">
                                    <a href="#"><img src="assets\images\template1.png" height="100%"width="100%"></a> 
                                </div>
                                <div class="col-6 mx-my-0 mt-3">
                                    <a href="#" class="listnews">Tưởng niệm hơn 23 nghìn người mất vì Covid-19</a>
                                </div>                          
                            </div>
                            <div class="lilistnews row">
                                <div class="col-4 mx-my-0 mt-3">
                                    <a href="#"><img src="assets\images\template1.png" height="100%"width="100%"></a> 
                                </div>
                                <div class="col-6 mx-my-0 mt-3">
                                    <a href="#" class="listnews">Tưởng niệm hơn 23 nghìn người mất vì Covid-19</a>
                                </div>                          
                            </div>
                            <div class="lilistnews row">
                                <div class="col-4 mx-my-0 mt-3">
                                    <a href="#"><img src="assets\images\template1.png" height="100%"width="100%"></a> 
                                </div>
                                <div class="col-6 mx-my-0 mt-3">
                                    <a href="#" class="listnews">Tưởng niệm hơn 23 nghìn người mất vì Covid-19</a>
                                </div>                           -->
							</div>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>
