<div class=text-center>
    <app-header></app-header>
</div>


<div class="container-fluid text-center text-md-left">
    <div class="row">
        <div class="col-md-8 mx-my-0 mt-3">
            <b class="title">Xử vụ thất thoát hơn 830 tỷ đồng ở TISCO, tòa dừng 30 phút để bị cáo nghĩ</b>
            <div class="time">09/11/2021    11:12 GMT+7</div>
            <div style="font-weight: 500;">Bị cáo Đỗ Xuân Hòa (nguyên Kế toán trưởng TISCO) đề nghị HĐXX cho hoãn tòa. HĐXX thuyết phục và tạm dừng tòa 30 phút để bị cáo suy nghĩ.</div>
            <ul class="link">
                <li class="link-name">
                    <a>Cựu TGĐ công ty Gang thép Thái Nguyên tiếp tục hầu tòa</a>
                </li>
                <li class="link-name">
                    <a>Cựu Tổng GĐ gang thép Thái Nguyên lĩnh án cao nhất 9 năm 6 tháng tù</a>
                </li>
                <li class="link-name">
                    <a>Thất thoát hơn 830 tỷ đồng, TISCO không cần bồi thường?</a>
                </li>
            </ul>
            <div class="content">
                    Hôm nay (9/11), TAND Cấp cao tại Hà Nội đưa 12 bị cáo trong vụ thất thoát hơn 830 tỷ đồng xảy ra tại TISCO ra xét xử phúc thẩm.<br>
                    Tại phần làm thủ tục phiên tòa, bị cáo Đỗ Xuân Hòa (nguyên Kế toán trưởng TISCO) đề nghị HĐXX cho hoãn tòa do 
                    luật sư của bị cáo đang là F2, bị cách ly, không thể có mặt tại phiên tòa.<br>
                    “Xin HĐXX cho hoãn tòa để đảm bảo quyền và lợi ích của bị cáo”, lời ông Hòa.<br>
                    Trình bày quan điểm của mình về đề nghị của bị cáo Hòa, đại diện VKS cho rằng, luật sư của bị cáo có thể gửi bản bào chữa đến tòa,
                     hoặc thực hiện bào chữa trực tuyến cho bị cáo.
                    <div class="text-center">
                        <img src="assets\images\template-detail.png">
                    </div>
                    Tuy nhiên, cựu Kế toán trưởng TISCO không đồng ý với đề nghị này của phía đại diện VKS.<br>
                    Trước thái độ của bị cáo, vị thẩm phán đề nghị bị cáo hỗ trợ, tạo điều kiện để phiên tòa được tiếp tục, bởi mở được phiên tòa mất 
                    rất nhiều công khi nhiều luật sư từ TP.HCM ra Hà Nội dự tòa đã phải cách ly nhiều ngày mới có thể có mặt tại phiên xử.<br>
                    Hơn nữa, bị cáo không kêu oan, chỉ kháng cáo xin giảm nhẹ tội, miễn trách nhiệm dân sự... nên vị thẩm phán đề nghị bị cáo hợp tác để phiên tòa được tiếp tục.<br>
                    Về phần mình, ông Hòa tiếp tục mong được hoãn tòa để quyền và lợi ích của mình được đảm bảo tuyệt đối. “Mong HĐXX đảm bảo quyền và lợi ích của tôi”, bị cáo trình bày.<br>
                    Đại diện VKS đề nghị HĐXX cho tạm dừng phiên tòa để bị cáo được suy nghĩ 30 phút. Đề nghị này được HĐXX chấp nhận.<br>
                    <div class="text-center">
                        <img src="assets\images\template-detail2.png">
                    </div>
                    Xử vụ thất thoát hơn 830 tỷ đồng ở TISCO, tòa dừng 30 phút để bị cáo nghĩ<br>
                    Sau 30 phút quy nghĩ, bị cáo Đỗ Xuân Hòa trình bày: Vì bị cáo chỉ có 1 luật sư bào chữa nên việc vắng mặt của luật sư khiến bị cáo rất thiệt thòi.<br>
                    Tuy nhiên, bị cáo cũng chia sẻ với tòa, chấp nhận để luật sư gửi bản bào chữa cho tòa.<br>
                    Trong trường hợp luật sư có thể đến tòa, mong HĐXX bố trí cho luật sư của bị cáo được trình bày phần bào chữa, nhưng đảm bảo giãn cách.<br>
                    “Việc vắng mặt luật sư là thiệt thòi cho bị cáo, mong HĐXX xem xét giảm nhẹ tội cho bị cáo”, lời ông Hòa.<br>
                    Trước đó, tại phiên tòa sơ thẩm, bị cáo Đỗ Xuân Hòa bị tuyên mức án 5 năm tù vì tội Vi phạm quy định về quản lý, sử dụng tài sản nhà nước gây thất thoát, lãng phí<br>
                    Phiên tòa tiếp tục với phần thẩm vấn.<br>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>