.title{
    font-size: 35px;
    line-height: 40px;
}
.time{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
}
.row{
    font-size: 25px ;
    line-height: 35px;
}
.link{
    margin-left: 50px;
    color: #971928;
}
.link-name:hover{
    text-decoration: underline;
}
.content{
    line-height: 35px;
}
.sidenews{
    list-style-type: none;
}
.sidecategory{
    font-size: 30px;
    line-height: 40px;
    color:#971928;
    font-weight: bold;
}
.listnews{
    text-decoration:none;
    font-size:20px;
    color:black;
    line-height:25px;
}
.contlistnews{
    padding: 0 0 !important;
    list-style-type: none;
}
.lilistnews{
    width: 100%;
    line-height:30px;
    flex-direction:row;
}